@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GC Coffee Shop</h1>
    <p>Shop <a href="https://localhost:5001/Home/Registration">Register</a>.</p>
</div>
